{% extends "poster.jinja2" %}

{## Header ##}

{% set poster_title = "Історія обчислювальних машин та мов програмування" %}
{# ‘poster_subtitle’ is optional; use "" to hide it #}
{% set poster_subtitle = "" %}
{# Change ‘venue’ to a conference or workshop name if any #}
{% set venue = "Unpublished" %}
{# ‘webpage_title’ is displayed in the browser’s top bar #}
{% set webpage_title = poster_title + " — " + poster_subtitle %}
{# ‘project_url’ is used in the footer and for the logo #}
{% set project_url = "https://github.com/nacknime-official/history-of-computing-hardware-and-programming-languages" %}

{# Publication info is hidden by default (.publication-info in CSS) #}
{% set pub_datetime_iso = "2020-09-08" %}
{% set pub_date = "September 8, 2020" %}

{% block custom_head %}
    <style type="text/css">
        html { font-size: 1.15rem }
    </style>
{% endblock %}

{% block authors %}
    {# Put authors here, with one link per author. #}
    <a property="author">Гончаренко Максим, ТІ-12</a>
{% endblock %}

{% block affiliations %}
    <a property="sourceOrganization">KPI</a>
{% endblock %}

{# Project logos shown on the left side #}
{% block project_logos %}
{% endblock %}

{# Extra logos shown on the right side #}
{% block logos %}
{% endblock %}

{### Footer ##}

{% block project_link %}
    <a href="{{ project_url }}">{{ project_url }}</a>
{% endblock %}

{% block contact_information %}
    honcharenko.maksym@lll.kpi.ua
{% endblock %}

{### Contents ###}

{# Contents are individual boxes (typically ‘article’s or ‘figure’s).  Each
   ‘article’ contains a header and some contents. #}
{% block contents %}
    <h1 class="center">Обчислювальні машини</h1>

    <article property="abstract">
        {# Using <h3> inside the <header> makes the structure evident to screen readers #}
        <header><h3>Механічні машини</h3></header>

        <p>Першу механічну обчислювальну машину сконструював 1642 р. француз <i>Блез Паскаль</i> (1623—1662). Ця машина давала змогу додавати багатозначні числа.</p>

        <p>Наприкінці XVII ст. німецький учений <i>Готфрид Ляйбніц</i> (1646—1716) удосконалив пристрій Паскаля. Його машина виконувала також операції множення та ділення.</p>

    </article>

    <article>
        <header><h3>Утопічний проект Ч. Бебиджа</h3></header>

        <p>Перший крок до створення сучасних комп'ютерів зробив англійський математик <i>Чарльз Бебидж</i> (1792—1871). З 1820 по 1856 р. він розробляв обчислювальну машину, яку назвав <i>аналітичною</i>. Машина мала розв'язувати складні арифметичні задачі, виконуючи необхідні дії з даними.</p>

        <p>Мети Ч. Бебидж досягти не зумів, оскільки проект значно випередив свій час. Однак іншими обчислювальними пристроями, які він створив, послуговувалися чимало років.</p>
    </article>

    <article>
        <header><h3>Електромеханічні машини</h3></header>

        <p>Наприкінці XIX — на початку XX ст. винайдено <i>електромеханічні обчислювальні машини</i>.</p>

        <p>Американець <i>Герман Голерид</i> (1860—1929) сконструював машину-табулятор, яка опрацьовувала інформацію, занесену на перфокарти. Опрацювання результатів перепису населення СІЛА 1890 р, за допомогою таких табуляторів засвідчило їхню високу ефективність.</p>
        <p>Після цього Г. Голерид заснував фірму, що виготовляла табулятори. А на початку XX ст. на її базі виникла фірма <i>IBM</i>, яка зробила значний внесок у розвиток сучасної обчислювальної техніки.</p>

        <p>У 1936 р. англійський учений <i>Алан Тюринг</i> (1912—1954) теоретично довів можливість створення універсальної цифрової обчислювальної машини, винахідником якої став німецький вчений <i>Конрад Цузе</i>.</p>
        <p>У Німеччині машину на базі електромагнітних реле побудували 1941 р. Аналогічна машина <i>«Марк 1»</i> невдовзі була створена в США.</p>
    </article>

    <article>
        <header><h3>Електронні машини</h3></header>

        <p>Під час Другої світової війни <i>Джон Атанасов</i> та <i>Кліфорд Бері</i> (СІЛА) для побудови логічних схем з успіхом використали <i>електронні радіолампи</i> і створили першу електронну обчислювальну машину — <i>«ABC»</i>. Ця машина могла розв'язувати лише специфічні задачі. Вона ще не була універсальною.</p>

        <p>Першу універсальну електронну обчислювальну машину (ЕОМ <i>«ЕНІАК»</i>) сконструювали 1946 р. під керівництвом <i>Джона Моучлі</i> та <i>Преспера Екерта</i> в СІЛА. Власне з цього часу й почалася доба комп'ютерів.</p>

        <p>Перший комп'ютер в Україні (і в неострівній Європі) сконструювали в Києві 1951 р. Його назвали <i>«МЭСМ»</i> (у перекладі з російської — <i>мала електронна обчислювальна машина</i>).</p>
        <p>У 1952 р. побудували машину <i>«БЭСМ»</i> (<i>велику електронну обчислювальну машину</i>). Цими проектами керував академік <i>Сергій Лебедев</i>. Машини класу <i>«БЭСМ-6»</i> тривалий час вважали найкращими в Європі.</p>

    </article>

    <article>
        <header><h3>Покоління комп'ютерів (ЕОМ)</h3></header>

        <p>Розрізняють п'ять поколінь комп'ютерів:</p>
        <ol>
            <li>
                Перше покоління (50-ті роки XX ст.)
                <p>електронні, лампи, ручне керування, програмування в кодах машини</p>
            </li>
            <li>
                Друге покоління (60-ті роки)
                <p>транзистори, сучасні мови програмування, одноосібне керування</p>
            </li>
            <li>
                Третє покоління (70-ті роки)
                <p>інтегровані пристрої, багатокористувацький підхід до використання машин за принципом одна машина – багато користувачів</p>
            </li>
            <li>
                Четверте покоління (80-ті роки)
                <p>великомасштабні інтегровані пристрої, дружні програмні середовища, повернення до принципу – один користувач на рівні ПК</p>
            </li>
            <li>
                П'яте покоління (90-ті роки)
                <p>надвеликомасштабні інтегровані пристрої, розвиток середовищ візуального програмування і технологій використання машин у мережі, повернення до багатокористувацького підходу, але за новим принципом: один сервер – багато клієнтів</p>
            </li>
        </ol>

    </article>

    <h1 class="center">Мови програмування</h1>

    <article>
        <header><h3>1930-1940</h3></header>

        <p>Виникає <strong>лямбда-числення</strong> та <strong>машина Тюрінга</strong>, які застосували математичну абстракцію для опису алгоритмів.</p>

    </article>

    <article>
        <header><h3>1940-i</h3></header>

        <p>Cтворюються перші електричні, двійкові комп'ютери. Вважається, що першу мову програмування високого рівня – <strong>Plankalkül</strong> розробив <i>Конрад Цузе</i> в період 1943 – 1945 рр. але в той час вона не була реалізована.</p>

    </article>

    <article>
        <header><h3>1957</h3></header>

        <figure>
            <a class="center" title="HapHaxion, CC0, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Fortran_logo.svg">
                <img width="128" height="128" alt="Fortran logo" src="https://upload.wikimedia.org/wikipedia/commons/b/b8/Fortran_logo.svg">
            </a>
            <figcaption>Першою широковживаною компільованою мовою став розроблений групою <i>Джона Бекуса</i> <strong>Fortran</strong>, анонсований у 1954 році та випущений у 1957 для ІВМ 704.</figcaption>
        </figure>

    </article>

    <article>
        <header><h3>1958</h3></header>

        <figure>
            <a title="Jooja, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Lisp_logo.svg">
                <img width="128" height="128" alt="Lisp logo" src="https://upload.wikimedia.org/wikipedia/commons/4/48/Lisp_logo.svg">
            </a>
            <figcaption>У MIT (Массачусетський технологічний інститут) розробили <strong>LISP</strong> – першу функційну мову, яка понад 25 років домінувала у програмуванні задач штучного інтелекту.</figcaption>
        </figure>

    </article>

    <article>
        <header><h3>1964</h3></header>

        <figure>
            <a title="Basic, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Basic_logo.svg">
                <img width="128" height="128" alt="Basic logo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Basic_logo.svg">
            </a>
            <figcaption>Створено спрощену мову <strong>BASIC</strong> (<i>Beginners All-purpose Symbolic Instruction Code</i>) для навчання програмуванню студентів, які переважно спеціалізувалися у вільних мистецтвах, а не технічних науках.</figcaption>
        </figure>

    </article>

    <article>
        <header><h3>1971</h3></header>

        <p><i>Ніклаус Вірт</i> опублікував опис мови <strong>Pascal</strong>, яка у 70-их стала загальновживаною для навчання студентів.</p>

    </article>

    <article>
        <header><h3>1972</h3></header>

        <figure>
            <a class="center" title="ElodinKaldwin, CC0, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:C_Programming_Language.svg">
                <img width="128" height="128" alt="C Programming Language" src="https://upload.wikimedia.org/wikipedia/commons/1/18/C_Programming_Language.svg">
            </a>
            <figcaption><i>Деніс Річі</i> розробив у Bell Labs мову <strong>C</strong>. </figcaption>
        </figure>

        <hr>
        <p>Тоді ж створено інтерпретатор мови <strong>Пролог</strong> – першої і найвідомішої мови логічного програмування.</p>

        <hr>
        <figure>
            <a title="Mike Anderson, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:GNU_Smalltalk_logo.svg">
                <img width="256" height="256" alt="GNU Smalltalk logo" src="https://upload.wikimedia.org/wikipedia/commons/0/08/GNU_Smalltalk_logo.svg">
            </a>
            <figcaption><i>Алан Кей</i> у Xerox PARC розробив першу широко вживану об'єктно-орієнтовану мову – <strong>Smalltalk</strong>.</figcaption>
        </figure>

    </article>

    <article>
        <header><h3>1975</h3></header>

        <figure>
            <a title="Denis Fadeev, GFDL &lt;http://www.gnu.org/copyleft/fdl.html&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:MIT_GNU_Scheme_Logo.svg">
                <img width="256" alt="MIT GNU Scheme Logo" src="https://upload.wikimedia.org/wikipedia/commons/a/a2/MIT_GNU_Scheme_Logo.svg">
            </a>
            <figcaption>У МІТ описано спрощений діалект мови Лісп – <strong>Scheme</strong>.</figcaption>
        </figure>

    </article>

    <article>
        <header><h3>1984</h3></header>

        <p>З метою об'єднання різних діалектів Ліспу створено <strong>Common Lisp</strong>.</p>
        <hr>

        <figure>
            <a title="Jarekt, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Matlab_Logo.png">
                <img width="128" height="128" alt="Matlab Logo" src="https://upload.wikimedia.org/wikipedia/commons/2/21/Matlab_Logo.png">
            </a>
            <figcaption>Випущено <strong>MATLAB</strong>.</figcaption>
        </figure>

    </article>

    <article>
        <header><h3>1985</h3></header>

        <figure>
            <a title="Jeremy Kratz, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:ISO_C%2B%2B_Logo.svg">
                <img width="128" height="128" alt="ISO C++ Logo" src="https://upload.wikimedia.org/wikipedia/commons/1/18/ISO_C%2B%2B_Logo.svg">
            </a>
            <figcaption><i>Б'ярн Страуструп</i> опублікував реалізацію мови <strong>C++</strong>.</figcaption>
        </figure>

    </article>

    <article>
        <header><h3>1987</h3></header>

        <figure>
            <a href="https://freebiesupply.com/logos/perl-programming-language-logo/">
                <img width="128" height="128" alt="Perl logo." src="img/perl-programming-language-logo-svg-vector.svg">
            </a>
            <figcaption>Створено <strong>Perl</strong>.</figcaption>
        </figure>

    </article>

    <article>
        <header><h3>1990</h3></header>

        <figure>
            <a title="Thought up by Darrin Thompson and produced by Jeff Wheeler, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Haskell-Logo.svg">
                <img width="128" height="128" alt="Haskell-Logo" src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Haskell-Logo.svg">
            </a>
            <figcaption>З’являється мова функціонального програмування <strong>Haskell</strong>.</figcaption>
        </figure>

    </article>

    <article>
        <header><h3>1991</h3></header>

        <figure>
            <a title="Jason Groce, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:VB.NET_Logo.svg">
                <img width="128" height="128" alt="VB.NET Logo" src="https://upload.wikimedia.org/wikipedia/commons/4/40/VB.NET_Logo.svg">
            </a>
            <figcaption>Створено <strong>Visual Basic</strong>.</figcaption>
        </figure>
        <hr>

        <figure>
            <img width="128" height="128" alt="Python logo." src="https://www.python.org/static/community_logos/python-logo-generic.svg">
            <figcaption>Опубліковано <strong>Python</strong>.</figcaption>
        </figure>

    </article>

    <article>
        <header><h3>1992</h3></header>

        <figure>
            <a title="Oracle Corporation, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Oracle_logo.svg">
                <img width="128" height="128" alt="Oracle logo" src="https://upload.wikimedia.org/wikipedia/commons/5/50/Oracle_logo.svg">
            </a>
            <figcaption>Випущено <strong>Oracle 7</strong> з підтримкою PL/SQL.</figcaption>
        </figure>

    </article>

    <article>
        <header><h3>1995</h3></header>

        <figure>
            <a href="https://uk.wikipedia.org/wiki/%D0%A4%D0%B0%D0%B9%D0%BB:Java_Logo.svg">
                <img width="128" height="240" alt="Java logo." src="https://upload.wikimedia.org/wikipedia/uk/2/2e/Java_Logo.svg">
            </a>
            <figcaption><i>Sun Microsystems</i> випустила <strong>Java</strong>.</figcaption>
        </figure>
        <hr>

        <figure>
            <a title="Chris Williams, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Unofficial_JavaScript_logo_2.svg">
                <img width="128" height="128" alt="Unofficial JavaScript logo 2" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg">
            </a>
            <figcaption><i>Netscape</i> - <strong>JavaScript</strong>.</figcaption>
        </figure>
        <hr>

        <figure>
            <a title="Colin Viebrock, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:PHP-logo.svg">
                <img width="128" height="128" alt="PHP-logo" src="https://upload.wikimedia.org/wikipedia/commons/2/27/PHP-logo.svg">
            </a>
            <figcaption>Створено <strong>PHP</strong>.</figcaption>
        </figure>

    </article>

    <article>
        <figure>
            <a title="Yukihiro Matsumoto, Ruby Visual Identity Team, CC BY-SA 2.5 &lt;https://creativecommons.org/licenses/by-sa/2.5&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Ruby_logo.svg">
                <img width="128" height="128" alt="Ruby logo" src="https://upload.wikimedia.org/wikipedia/commons/7/73/Ruby_logo.svg">
            </a>
            <figcaption>Створено <strong>Ruby</strong>.</figcaption>
        </figure>
    </article>

    <article>
        <header><h3>2001</h3></header>

        <figure>
            <img width="128" height="128" alt="C# logo." src="img/c-sharp-logo@logotyp.us.svg">
            <figcaption>Створено мову <strong>C#</strong>.</figcaption>
        </figure>

    </article>

    <article>
        <header><h3>2007</h3></header>

        <figure>
            <img width="150" height="150" alt="Golang logo." src="https://go.dev/blog/go-brand/Go-Logo/SVG/Go-Logo_Blue.svg">
            <figcaption>Компанією <i>Google</i> розпочато розробку мови <strong>Go</strong>.</figcaption>
        </figure>

    </article>

    <article>
        <header><h3>2010</h3></header>

        <figure>
            <a title="JetBrains, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Kotlin_Icon.svg">
                <img width="128" height="128" alt="Kotlin Icon" src="https://upload.wikimedia.org/wikipedia/commons/0/06/Kotlin_Icon.svg">
            </a>
            <figcaption>Компанією <i>JetBrains</i> розпочато розробку мови <strong>Kotlin</strong>.</figcaption>
        </figure>

    </article>

    <article>
        <header><h3>2014</h3></header>

        <figure>
            <a title="Apple Inc, Apache License 2.0 &lt;http://www.apache.org/licenses/LICENSE-2.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Swift_logo.svg">
                <img width="128" height="128" alt="Swift logo" src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Swift_logo.svg">
            </a>
            <figcaption>Компанією <i>Apple</i> преставлено мову <strong>Swift</strong>.</figcaption>
        </figure>

    </article>
{% endblock %}
